@charset "UTF-8";

@font-face {
    font-family: 'rides';
    src: url(../font/SF_Cartoonist_Hand.ttf);
}



*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vw;
    height: 100vh;
    background-image: linear-gradient(2.4rad, #c444dd8a, rgba(28, 28, 239, 0.515));
}

header{
    background-color: rgb(175, 91, 245);
    height: 80px;
    text-align: center;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.322);
}


header img{
    display: inline-block;
    max-width: 50px;
    margin: 15px;
    margin-top: 16px;
    float: left;
 
    
}

header img.perfil{
    float: right;
}


span{
    margin: auto;
}


#faculrides{
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle
    

    /* margin: 10px 9vw; */



}

.p1{
    font-family: 'rides';
    font-size: 1.5em;
    color: rgb(8, 19, 103);
    /* -webkit-text-stroke: 0.01px #30012925; */

}

.p2{
    font-family: 'rides';
    font-size: 2.3em;
    color: rgb(89, 9, 155);
    -webkit-text-stroke: 0.01px #30012925;
}







div.square {
    margin: auto;
    border: 1px solid black;
    width: 70vw;
    height: 255px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 50px;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.300)
}





div.info{
    margin: auto;
    border: 1px solid black;
    width: 70vw;
    height: 169px;
    text-align: center;
    background-color: rgb(109, 68, 143);
    border-radius:0px 0px 10px 10px;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.300)

}

div nav{
    margin-top: 25px;
    text-align: left;
    margin: 0px;

}


div nav span a{
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 5px 10px;
    display: inline-block;
    border-radius: 10px;

}


div nav span a#aceitar{
    
    background-color: rgb(29, 184, 29);

    &:hover{
    background-color: rgb(91, 243, 124);
}

}

div nav span a#recusar{
    background-color: rgb(243, 41, 41);
&:hover{
    background-color: rgb(216, 108, 108);
}
}

div nav span a#combinar{
    background-color: rgb(255, 255, 0);
    &:hover{
        background-color: rgb(233, 233, 134);
    }
}


div nav span a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}







div#q1{
    background-image: url(../imagens/mapinha.png);
}
