@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

.nava{
    height: 40px;
    width: 30px;
    background: url(../images/back.png) no-repeat;
    background-size: contain;
    position: absolute;
    margin-right: 70vw;
    /* transform: translate(-100%, +0%); */
    &:hover{
        cursor: pointer;
    }
}



.progress-bar {
    
    width: 70vw;
    height: 7px;
    border-radius: 5px;
    background-color: lightgray;
    margin: 5vh 0px;
    position: absolute;
    margin-top: 94vh;
}


.progress-bar-fill {
    height: 100%;
    border-radius: 5px;
    background-color: #006FFD;
    width: 0;
    max-width: 100%;
    transition: width 0.3s ease-in-out;
}



.containerconti{
    position: absolute;
    /* margin-top: calc(100vh - 187px); */
    margin-top: calc(100vh - 35%);
    
}

.continuar{

    padding: 12px 16px;
    border-radius: 13px;
    border: 0px;
    height: 48px;
    width: 70vw;
    max-width: 600px;


    margin: 0px auto;
    margin-top: 15px;
    background-color:#747475;
    color: white;
    font-weight: bold;
    &:hover{
        background-color: #006FFd;
        cursor: pointer;
    }
}


/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */
/* EFETIVO */










.logo{
    background: url(../images/perfil.png) no-repeat;
    background-size: contain;
    
    

    height: 400px;
    width: 200px;
}


.voltar{
    background: url(../images/flecha_back.png);
    background-size: contain;
    height: 50px;
    width: 50px;
}



.page{
    display: none;
}

.page.active {
    display: block;
}


/* --------------------------------------------------------------------------------------- */
/* PÁGINA DOIS ---------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------- */

.dois{
    
display: flex;
margin: auto;
flex-direction: column;
align-items: center;

}


.dois h1{
    margin: 3vh;
}


.dois form{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}


.dois label{
    font-weight: bold;
    font-size: 12px;
}

.dois .inputadas{
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #E9E9ED;
    border: 0px;
    width: 70vw;
    /* width: 280px; */
    /* margin: 0px 20%; */
}
/* .dois .continuar{
    margin: 0px auto;
    margin-top: 15px;
    background-color:#747475;
    color: white;
    font-weight: bold;
    &:hover{
        background-color: #006FFD;
        cursor: pointer;
    }
} */

/* .dois .progress-bar {
    width: 70vw;
    height: 7px;
    border-radius: 5px;
    background-color: lightgray;
    margin: 5vh 0px;
    position: absolute;
    margin-top: 94vh;
}

.dois .progress-bar-fill {
    height: 100%;
    border-radius: 5px;
    background-color: #006FFD;
    width: 0;
    max-width: 100%;
    transition: width 0.3s ease-in-out;
} */

/* TERCERIA PAGINA ---------------------------------------------------------------------*/





.tres{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.tres h1, nav{
    margin-top: 3vh;
    margin-bottom: 3vh;
}



.borda{
    /* background-color: aqua; */
    border: 1px solid black;
    border-radius: 40px;
    height: 80vw;
    max-height: 600px;
    width: 80vw;
    max-width: 600px;
    /* background: url(../../images/download.png) no-repeat;
    background-size: contain; */
    margin: 5vh auto;
    
}




/* QUARTA PAG -------------------------------------------------------------------------------------------------------*/



.quatro{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.quatro h1, nav{
    margin-top: 3vh;
    margin-bottom: 3vh;
}


.quatro form{
    text-align: center;
    max-width: 300px;
    /* background-color: #0b448f; */
    
    
}

.quatro label{
    font-size: 15px;
}


#icod[type="text"] {
    margin-left: 10px;
}

.quatro .cod {
    
    font-size: 2.4em;
    padding-left: 10px;
    width: 33px;
    margin: 0px 5px;
    margin-top: 15px ;
    height: 60px;
    border-radius: 10px;
    border: 0px;
    background-color:#dadadb ;
}

.quatro .reenv{
    
    font-size: 14px;
    margin-top: calc(100vh - 400px);
    margin-bottom: 10px;
    font-weight: bold;
    color: #006FFD;
    &:hover{
        cursor: pointer;
    }
}

.iconajuda {
    cursor: pointer;
}


.ajuda{
    display: none;
    width: 287px;
    font-size: 13px;
    text-align: left;
    background-color: #dddddd;
    padding: 12px 18px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.308);
    
    
}

/* PAGINA CINCO ---------------------------------------------------------*/


.cinco{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.cinco h1, nav{
    margin-top: 3vh;
    margin-bottom: 3vh;
}





.cinco label{
    font-weight: bold;
    font-size: 14px;
}

.cinco .senhaa{
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 13px;
    background-color: #E9E9ED;
    border: 0px;
    width: 70vw;
    /* width: 280px; */
    /* margin: 0px 20%; */
}




/* PAGINA SEIS -----------------------------------------------------------------------------------------------------------------------*/

.seis{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}    

.seis h1, nav{
    margin-top: 3vh;
    margin-bottom: 3vh;
}    



.containerbots{
    margin-top: 20vh;
}

.botao{
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 13px;
    border: 0px;
    height: 48px;
    width: 70vw;
    max-width: 400px;


    margin: 0px auto;
    margin-top: 4vh;
    background-color:#006FFd;
    color: white;
 
    &:hover{
        background-color: #0552b6;
        cursor: pointer;
    }
}
