@charset "UTF-8";


@font-face {
    font-family: 'rides';
    src: url(../font/SF_Cartoonist_Hand.ttf);
}


body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}





.header{
    display: flex;
    height: 55px;
    align-items: center;
    background-image: linear-gradient(2.4rad, #c444dd8a, rgba(28, 28, 239, 0.515));
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.349);
    
    
}


.item{
    justify-content: center;
    /* background-color: aquamarine; */
    /* margin: 10px; */

}

.item-1 img{
    max-width: 40px;
    background-color: transparent;
    margin-left: 17px;
    position: absolute;
    margin-top: -20px;
    
   
}

.item-2 {
    margin: auto;
    color: rgba(0, 0, 0, 0.842);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    /* background-color: aqua; */
    
}

.botoes{
    text-align: center;
}

.botoes img{

    max-width: 100vw;
    max-height: 100vh;
}